@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --color-primary: #1f1f64;
  --bg-primary: #e7af98;
  --button-primary: #b18777;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background-color: var(--bg-primary);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 24px;
  color: var(--color-primary);
}

.wrapper__item {
  all: unset;
  padding: 12px;
  border-radius: 24px;
  background-color: var(--button-primary);
}

.wrapper__item:hover {
  background-color: rgb a(31, 31, 100, 0.396);
  box-shadow: 1px 1px 10px 0px var(--color-primary);
  transition: all 0.1s;
}

.wrapper__item:active {
  background-color: rgba(31, 31, 100, 0.606);
  transition: all 0.1s;
}

.wrapper__item-input {
  all: unset;
  padding: 10px;
  border: none;
  background-color: var(--button-primary);
}

.array-highliter {
  background: fixed;
}
